.services-section1 {
  padding: 3rem 0rem;
  background-color: #f9f9f9;
}

@media (min-width: 1024px) {
  .services-section1 {
    padding: 0rem 3rem;
    background-color: #f9f9f9;
  }
}

.serial-number {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.25rem;
  background-color: #1d4ed8;
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  margin-right: 1.5rem;
  color: #fff;
}

/* Service tab styles */
.service-tab {
  display: flex;
  align-items: center;
  background-color: #fff;
  border-radius: 10px;
  padding: 1.5rem;
  transition: transform 0.3s ease, background-color 0.3s ease;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
}

.service-tab:hover {
  transform: translateY(-5px);
  background-color: #f1f5f9;
}

.service-tab h2 {
  color: #1d4ed8;
}

.service-tab p {
  margin-top: 10px;
  font-size: 15px;
  line-height: 1.7;
}

@media (min-width: 1024px) {
  .service-tab {
    display: flex;
    flex-direction: row;
  }

  .serial-number {
    font-size: 1.5rem;
    width: 4rem;
    height: 4rem;
    margin-right: 2rem;
  }

  .service-tab h2 {
    text-align: left;
    margin-bottom: 0.5rem;
  }
}
