.services-section {
  padding: 3rem 0rem;
  background-color: #f9f9f9;
}

@media (min-width: 1024px) {
  .services-section {
    padding: 0rem 3rem;
    background-color: #f9f9f9;
  }
}

.description-section,
.service-tab {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.description-section {
  /* No shadow for this section */
  box-shadow: none;
}

.image-section img {
  max-width: 100%;
  border-radius: 10px;
}

.service-tab {
  transition: transform 0.3s ease, background-color 0.3s ease;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
}

.service-tab:hover {
  transform: translateY(-5px);
  background-color: #f1f5f9;
}

.service-tab h2 {
  color: #1d4ed8;
}

.service-tab p {
  margin-top: 10px;
  font-size: 15px; /* Adjusted to the higher font size */
  line-height: 1.7;
}

.border-theme-blue {
  border-color: #1d4ed8;
}

.tabs-section {
  margin: 1rem 3rem;
  column-gap: 4rem;
  row-gap: 5rem;
}
